@font-face {
  font-family: 'Bender';
  src: url(fonts/Bender.woff2);
}

body {
  font-family: 'Bender';
  background-color: rgb(37, 37, 37);
  color: rgb(255, 254, 230);
}


.login {
    display: block;
    justify-content: right;
    text-align: right;
    
  }
  
  .login img {
    height: 30px;
  }

  #loginCheck {
    display: flex;
    justify-content: right;
    text-align: right;
  }

  .traders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  .traders > div {
    border: 1px solid black;
  }

  #Lightkeeper {
    grid-column: span 4;
  }

  h4 {
    max-height: 0px;
    margin-top: 2px;
  }